<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
	        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body bgcolor="silver">
  
<nav>
  <div class="navTop">
    <div class="navTopTitle">
      <h1><a href="/">Good Web Design</a></h1>
      <h3>The best landing pages, organized by section</h3>
    </div>
      <div class="navTopPageLinks">
        <h3 onclick="aboutViewed()" class=""><a href="/about">About</a></h3>
        <h3><a href="mailto:zha.yitong@gmail.com?subject=I'd like to submit a landing page!">Submit</a></h3>
    </div>
  </div>
  <div class="navBottom">
      <h3 id="dropbtn-global" onclick="mobileFilters()">
        <a href="#">Select filter</a>
        <span class="dropBtn">▾</span>
      </h3>
      <ul class="dropcnt-global">
        <li>
          <h3 id="all" onclick="filterClicked(this.id)" class="active"><a href="/">All</a></h3>
        </li>
        <li>
          <h3 id="nav" onclick="filterClicked(this.id)" class=""><a href="/tags/navbar">Nav</a></h3>
        </li>
        <li>
          <h3 id="hero" onclick="filterClicked(this.id)" class=""><a href="/tags/hero">Hero</a></h3>
        </li>
        
         <li class="dropFeatures-sub subDrop">
          <h3 id="features" onclick="filterClicked(this.id)" class=" dropbtn-sub">
            <a href="/tags/feature">Features</a>
            <span class="dropBtn">▾</span>
          </h3>
                    
          <ul id='features-drop' class="dropcnt-sub">
            <li><h3 id="single" onclick="filterClicked(this.id)" class=""><a href="/tags/single">Single</a></h3></li>
            <li><h3 id="list" onclick="filterClicked(this.id)" class=""><a href="/tags/featurelist">List</a></h3></li>
          </ul>
         
        </li> 
        

        <li class="dropSocialproof-sub subDrop">
          <h3 id="socialproof" onclick="filterClicked(this.id)" class=" dropbtn-sub">
            <a href="/tags/socialproof">Social Proof</a>
            <span class="dropBtn">▾</span>
          </h3>
          
          <ul id='socialproof-drop' class="dropcnt-sub">
            <li><h3 id="testimonials" onclick="filterClicked(this.id)" class=""><a href="/tags/testimonials">Testimonials</a></h3></li>
            <li><h3 id="logos" onclick="filterClicked(this.id)" class=""><a href="/tags/logobar">Press logos</a></h3></li>
            <li><h3 id="tweets" onclick="filterClicked(this.id)" class=""><a href="/tags/tweets">Tweets</a></h3></li>
            <li><h3 id="casestudy" onclick="filterClicked(this.id)" class=""><a href="/tags/casestudy">Case Study</a></h3></li>
          </ul> 
         
        </li>

        <li class="dropPricing-sub subDrop">
          <h3 id="pricing" onclick="filterClicked(this.id)" class=" dropbtn-sub">
            <a href="/tags/pricing">Pricing</a>            <span class="dropBtn">▾</span>
          </h3>
          
          <ul id='pricing-drop' class="dropcnt-sub">
            <li><h3 id="simple" onclick="filterClicked(this.id)" class=""><a href="/tags/simple">Simple</a></h3></li>
            <li><h3 id="tiered" onclick="filterClicked(this.id)" class=""><a href="/tags/tiered">Tiered</a></h3></li>
          </ul> 
         
        </li>
        <li>
          <h3 id="cta" onclick="filterClicked(this.id)" class=""><a href="/tags/cta">CTA</a></h3>
        </li>
        <li>
          <h3 id="faq" onclick="filterClicked(this.id)" class=""><a href="/tags/faq">FAQ</a></h3>
        </li>
        <li>
          <h3 id="footer" onclick="filterClicked(this.id)" class=""><a href="/tags/footer">Footer</a></h3>
        </li>
      </ul>
      <div id="viewToggle">
          <img id="multiCol" onClick="changeView(1)" src="/assets/multiCol-ab09903538b662825238afbdc219243a5c94a619a9ffc4ba09a73deaa049f64e.svg" alt="Multicol" />
          <img id="singleCol" onClick="changeView(2)" src="/assets/singleCol-c12d870d53996852b01e4afae3ce476a78392540ffc8d7919bf558c545e764c2.svg" alt="Singlecol" />
      </div>
  </div>


</nav>

<a href="https://dev.to/mrqwertyx">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="mrQWERTYx's DEV Profile" height="30" width="30">
</a>
		<img src="https://octodex.github.com/images/daftpunktocat-thomas.gif" id="octocat" alt="octocat-gif" style="width:400px;height:400px;">
                <img src="images/unnamed.gif" style="width:200px;height:200px;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      {{ content }}
    	
		</div><!-- /.container -->

                <form action="upload.php" method="post" enctype="multipart/form-data">
                  Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" name="submit">
                </form>

		<footer>
    		<ul>
        		<li><a href="mailto:abhijeetvega0101@gmail.com">email</a></li>
        		<li><a href="https://github.com/abhijeetvega">github.com/abhijeetvega</a></li>
			</ul>
		</footer>
	</body>
</html> 
